<h1 class='center'>{{title}}</h1>
<div class='container'>
  <div class="row">

    <app-search-text></app-search-text>

    <div *ngFor='let skill of skills' class="col s6 m4">
      <div class="card horizontal" (click)="selectSkill(skill)" devBorderCard="{{ skill.name | borderColorBySkillName }}"> <!-- devBorderCard="red" -->
        <div class="card-image">
          <img [src]="skill.picture" style="margin: 10px;">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>{{ skill.name }}</p>
            <p><small>{{ skill.startDate | date: "dd//MM/yyyy" }}</small></p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>